.b{
    font-size: 60px;
    text-align: center;
    background-color: cornflowerblue;
    color: gold;
    border: 5px solid black;
}
.c{
    font-size: 32px;
    margin: 5px;
    border: 8px solid brown;
    margin-right: 1100px;
    padding: 4px;
    background-color: black;
    color: antiquewhite;
}
.d{
    
    font-size: 32px;
    border: 8px solid brown;
    margin-right: 600px;
    margin-left: 450px;
    margin-top: -700px;
    padding: 4px;
    background-color: black;
    color: antiquewhite;
}
.e{
    
    font-size: 32px;
    border: 8px solid brown;
    margin-right: 10px;
    margin-left: 950px;
    margin-top: -710px;
    padding: 4px;
    background-color: black;
    color: antiquewhite;
}
.h{
    padding-left: 80px;
}